<% include ./partials/header.ejs %>
<div class="profile w-full min-h-screen bg-zinc-300 pt-1">
<form id="uploadform" hidden method="post" action="/fileupload" enctype="multipart/form-data">
  <input type="file" name="image">
</form>
  <div class="profdets flex flex-col items-center mt-10">
    <div>
    <div class="w-32 h-32 rounded-full bg-zinc-100 overflow-hidden"><img class="object-cover w-full h-full" src="https://i.pinimg.com/1200x/5e/5a/5e/5e5a5e1cb53e1df699fd014f4a311d91.jpg"></div>
  <button id="uploadicon" class=" w-35 h-8  rounded-full bg-red-200 mt-5 text-sm font-semibold">Edit Profile Image</button>
</div>
    <h1 class="text text-3xl font-semibold text-zinc-900 mt-5">Vidhi Singh</h1>
    <h3 class="text-sm font-semibold text-zinc-700 ">vidhi@gmail.com</h3>
    <a href="/edit" class="mt-5 px-7 py-2 bg-zinc-600 rounded-full text-xs font-semibold">Edit</a>
    <a href="/add" class="bg-red-400 px-7 py-3 rounded-lg font-semibold mt-6">Add New Post</a>
    </div>
    <div class="cards flex flex-wrap gap-10 px-10 mt-10">
        <div>
        <div class="card bg-zinc-200 rounded-lg w-52 h-40 overflow-hidden"><img class="w-full h-full object-cover" src="https://i.pinimg.com/1200x/e2/aa/e8/e2aae8ceeedcdbeeaa9dae57d2b53aab.jpg"></div>
        <a href="/show/posts" class="text-md font-semibold mt-3 text-zinc-600">Your Uploaded Pins</a>
        <h5 class="text-sm font-medium text-zinc-600">20 Pins</h5>
        </div>
        <div>
         <div class="card bg-zinc-200 rounded-lg w-52 h-40 overflow-hidden"><img class="w-full h-full object-cover" src="https://i.pinimg.com/736x/2a/ea/25/2aea25eb8ab3581d064efb99d1e26fa8.jpg"></div>
        <a href="/savedpins" class="text-md font-semibold mt-3 text-zinc-600">Saved Pins</a>
        <h5 class="text-sm font-medium text-zinc-600">28</h5>
        </div>
        </div>
    </div>
</div>

<script>
  document.querySelector("#uploadicon").addEventListener("click",function(){
    document.querySelector("#uploadform input").click();
  })
  document.querySelector("#uploadform input").addEventListener("change",function(){
    document.querySelector("#uploadform").submit();
  })
</script>
<% include ./partials/fotter.ejs %>